<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MaterialDesignColors" version="2.0.1" targetFramework="net472" />
  <package id="MaterialDesignThemes" version="4.1.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="19.1.0.67" targetFramework="net472" />
  <package id="Syncfusion.SfRadialMenu.WPF" version="18.3.0.53" targetFramework="net472" />
  <package id="Syncfusion.SfSchedule.WPF" version="18.3.0.53" targetFramework="net472" />
  <package id="Syncfusion.SfShared.WPF" version="18.3.0.53" targetFramework="net472" />
  <package id="Syncfusion.SfSkinManager.WPF" version="19.1.0.67" targetFramework="net472" />
  <package id="Syncfusion.Shared.WPF" version="19.1.0.67" targetFramework="net472" />
  <package id="WPFLocalizeExtension" version="3.8.0" targetFramework="net472" />
  <package id="XAMLMarkupExtensions" version="2.0.0" targetFramework="net472" />
</packages>